---
import BaseLayout from '../layouts/baselayout.astro';
const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>
  <p>
    I am a developer and writer. This site reflects my interest in minimal design and deep thinking.
  </p>
  <p>
    No algorithms, no noise. Just files.
  </p>
</BaseLayout>