---
import BaseLayout from '../layouts/baselayout.astro';
const pageTitle = "Work";
---
<BaseLayout pageTitle={pageTitle}>
  <main>
        <p>Selected projects focused on engineering design, research and experimentation.</p>
        <section>
        <h2>Project Title</h2>
        <p>Project Description</p>
        <p><a href="/work/project-1/">Read more</a></p>
        </section>
    </main>
</BaseLayout>