---
import BaseLayout from '../layouts/baselayout.astro';
import Blogpost from '../components/blogpost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md',{eager: true}));
const pageTitle = "Writing";
---
<BaseLayout pageTitle = {pageTitle}>
	<main>
		<p> essays and explainers on learning, engineering and systems i'm trying to understand. </p>
		<ul>
		{allPosts.map((post:any) => <Blogpost url={post.url} title={post.frontmatter.title}/>)}
		</ul>
	</main>	
</BaseLayout>
